<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.color_scheme "Dark"}} class="dark-mode"{{else match @custom.color_scheme "Auto"}} class="auto-color"{{/match}}>
 <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{asset 'built/screen.css'}}">
    <link rel="stylesheet" href="{{asset 'css/styles.css'}}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    <title>GitPuller</title>
  </head>
<body>
<div class="viewport">
  <header class="bg-white">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <a href="/" class="-m-1.5 p-1.5">
        <span class="sr-only">GitPuller</span>
        <img src="{{ asset 'images/logo.svg'}}" class="h-8 w-auto" style="width: 99px; height: 18px;" alt="">
      </a>
      <div class="flex lg:hidden">
        <button class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg id="icon-open-menu" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Pricing</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Contact</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Sign in</a>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-10"></div>
      <div id="menu-mobile" class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">GitPuller</span>
            <img src="{{ asset 'images/logo.svg'}}" class="h-8 w-auto" style="width: 99px; height: 18px;" alt="">
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Close menu</span>
            <svg id="icon-close-menu" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Pricing</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Contact</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Sign in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="gh-viewport">
      {{!-- All other templates get inserted here, index.hbs, post.hbs, etc --}}
      {{{body}}}
  </div>

  <footer style="font-family: 'DM Sans'; font-style: normal; background-color: #141929">
    <div class="mx-auto max-w-7xl overflow-hidden py-10 px-6 sm:py-14 lg:px-8">
      <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
        <div class="pb-6">
          <a href="about.html" class="text-sm leading-6 text-gray-400 hover:text-gray-300">About Us</a>
        </div>

        <div class="pb-6">
          <a href="contact.html" class="text-sm leading-6 text-gray-400 hover:text-gray-300">Help & Support</a>
        </div>

        <div class="pb-6">
          <a href="#" class="text-sm leading-6 text-gray-400 hover:text-gray-300">SLA</a>
        </div>

        <div class="pb-6">
          <a href="sla.html" class="text-sm leading-6 text-gray-400 hover:text-gray-300">Terms and Conditions</a>
        </div>

        <div class="pb-6">
          <a href="#" class="text-sm leading-6 text-gray-400 hover:text-gray-300">Privacy Policy</a>
        </div>
      </nav>
     <div class="mx-auto max-w-7xl pt-10 mt-10 md:flex md:items-center md:justify-between border-t border-gray-600">
      <div class="flex justify-center space-x-6 md:order-2" style="color: #7A7E87; font-size: 14px;">
        Made by<u class="ml-1">Kolosek</u>
      </div>
      <div class="mt-8 md:order-1 md:mt-0">
        <p class="text-center text-xs leading-5" style="color: #7A7E87; font-size: 14px;">GitPuller © 2023  All rights reserved ✌</p>
      </div>
    </div>
  </footer>
</div>
{{!-- /.viewport --}}

{{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
<script src="{{asset "js/custom.js"}}"></script>
{{ghost_foot}}

</body>
</html>
